// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homepage {
  background: asset_url("mainpages/christmas-bells.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  background-position: -0px 0px;
}

nav {
  background-color: #fff !important;
}

nav .fi-heart {
  color:#DC143C !important;
}

.our-story .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  padding-top: 44px;
  // padding-bottom: 76px;
}

.row.pic {
  height: 500px;
}

.first .row {
  height: 700px;
}

.our-story h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #BF1C15; // holiday red
  text-align: center;
}

.our-story p {
  font-family: 'PT Sans', sans-serif;
  color: black;
  font-size: 40px;
  text-align: right;
}

#paragshreya {
  position: absolute;
  top: 387px;
  color: white;
  text-align: center;
  font-size: 90px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 5px 0 5px #000;
}

#date {
  position: absolute;
  top: 40%;
  left: 340px;
  color: white;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  text-shadow: 5px 0 5px #000;
}

.first {
  background: asset_url("story/2012-group.png") no-repeat center center fixed;
  background-position: -0px 0px;
}

.second {
  background: asset_url("story/2013-group.png") no-repeat center center fixed;
  background-position: -0px -250px;
}

.third {
  background: asset_url("story/2014-group.png") no-repeat center center fixed;
}

.fourth {
  background: asset_url("story/2015-group.png") no-repeat center center fixed;
  background-position: -0px 0px;
}

nav a.current {
  font-weight: bold !important;
  text-decoration: underline;
}

.top-bar ul li a {
  background-color: #fff !important;
  color: black !important;
  font-family: 'PT Sans', sans-serif !important;
}

.top-bar ul li a:hover {
  color: #0078a0 !important; //teal blue
}

.top-bar-section .right li a {
  font-size: 15px;
}

.toggle-topbar a {
  background-color: #fff !important;
}

.fourth, .third, .second, .first, .engagement, .wday {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

// Small screens

@media screen and (max-width: 39.9375em) {
  body {
    overflow-x: hidden !important;
  }

  #date {
    position: absolute;
    top: 33%;
    left: 120px;
    font-size: 20px;
  }

  .fi-arrow-down {
    font-size: 30px !important;
  }

  .homepage {
    background-position: -250px;
    height: 600px;
  }

  .first {
    background-position: -140px -40px;
  }

  .second {
    background-position: -550px;
  }

  .fourth {
    background-position: -255px;
  }

  .our-story .row {
    padding-top: 104px;
    padding-bottom: 104px;
  }

  .our-story h3 {
    font-size: 40px;
    text-align: center;
  }

  .our-story p {
    font-size: 26px;
    text-align: center;
    margin-bottom: 0px;
  }

  #paragshreya {
    position: absolute;
    top: 20%;
    left: 40px;
    font-size: 50px;
  }


}